body {
	@apply font-serif text-lg dark:bg-gray-800 dark:text-white text-black;
}
h1 {
	@apply font-headline text-2xl font-normal mb-4;
}
p {
	@apply font-light;
}

.nav-links {
	@apply flex flex-col transform translate-x-3;
}
.nav-links a {
	@apply font-sans font-medium text-lg md:text-lg opacity-45 transform -translate-x-[31.5px];
}
.nav-links a::before {
	content: "→";
	@apply opacity-0 transition duration-200;
}

.nav-links .active {
	@apply transform -translate-x-[31.5px] opacity-100;
}
.nav-links .active::before {
	content: "→";
	@apply opacity-100;
}

.nav-links a:hover {
	@apply transition transform -translate-x-[31.5px];
}
.nav-links a:hover::before {
	content: "→";
	@apply opacity-100;
}
