---
import Base from "../layouts/Base.astro";
import { fade } from "astro:transitions";

const allPosts = await Astro.glob("../pages/posts/*.md");
---

<Base pageTitle="Blog">
	<div class="blog-container" transition:animate={fade({ duration: "0.35s" })}>
		<p>This is where I will post about my journey learning Astro.</p>
		<ul>
			{
				allPosts.map((post) => (
					<li>
						<a href={post.url}>{post.frontmatter.title}</a>
					</li>
				))
			}
		</ul>
	</div>
</Base>
