---
import Base from "../layouts/Base.astro";
import Greeting from "../components/Greeting";

import { fade, slide } from "astro:transitions";
---

<Base pageTitle="Tervetuloa kotisivuilleni!">
	<!-- <Greeting client:load messages={["Hejsan", "Hallo", "Hola", "Habari"]} /> -->
	<div transition:animate={fade({ duration: "0.35s" })}>
		<p>
			Aliquip nulla laboris eiusmod ad labore minim adipisicing. Nostrud officia
			qui occaecat anim elit aliqua deserunt veniam sit nulla aliqua fugiat
			incididunt aute. Reprehenderit occaecat enim sint nostrud occaecat voluptate
			nulla velit. Laborum laborum sint minim ut tempor adipisicing tempor.
		</p>
	</div>
</Base>
