---
import Base from "../layouts/Base.astro";
import Greeting from "../components/Greeting";
---

<Base pageTitle="Hei.">
	<!-- <Greeting
		client:load
		messages={["Hejsan hejsan", "Hallo", "Hola", "Habari"]}
	/> -->
	<div class="col-span-4 mx-4 md:col-span-5 md:mx-0">
		<p class="font-serif max-w-prose">
			Aliquip nulla laboris eiusmod ad labore minim adipisicing. Nostrud officia
			qui occaecat anim elit aliqua deserunt veniam sit nulla aliqua fugiat
			incididunt aute. Reprehenderit occaecat enim sint nostrud occaecat voluptate
			nulla velit. Laborum laborum sint minim ut tempor adipisicing tempor. In
			velit nulla consequat esse in irure irure proident. Aliquip minim velit elit
			qui dolor mollit amet cillum tempor cillum aliqua. Ad culpa cupidatat elit
			fugiat excepteur.
		</p>
	</div>
</Base>
