---
import Navigation from "./Navigation.astro";
---

<header class="mt-24 md:mt-48">
	<nav
		class="grid items-baseline grid-cols-4 gap-4 mx-4 md:mx-0 md:grid-cols-12 md:gap-8"
	>
		<div
			class="col-span-4 text-4xl md:col-span-3 md:col-start-4 md:text-4xl font-semibold font-headline"
		>
			Hei, minä olen Juho
		</div>
		<Navigation />
	</nav>
</header>
