---
import Navigation from "./Navigation.astro";
---

<header class="max-w-prose mx-auto mt-24">
	<nav class="flex flex-row justify-between">
		<div class="text-xl font-bold font-sans">Juho Rantakari</div>
		<Navigation />
	</nav>
</header>
