---
import Navigation from "./Navigation.astro";
---

<header class="">
	<nav class="grid grid-cols-12 gap-8 mt-12">
		<div class="col-span-4 col-start-2 text-xl font-bold font-sans">
			Juho Rantakari
		</div>
		<Navigation />
	</nav>
</header>
