---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<div class="nav-links col-span-4 md:col-span-4">
	<a class={currentPath === "" ? "active" : ""} href="/">Etusivu</a>
	<a class={currentPath === "about" ? "active" : ""} href="/about">Minusta</a>
	<a class={currentPath === "blog" ? "active" : ""} href="/blog">Kirjoituksia</a>
</div>
