---
import { ViewTransitions } from "astro:transitions";
import { fade } from "astro:transitions";

import Header from "../components/Header.astro";
import "../styles/global.css";

const { pageTitle } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link
			href="https://api.fontshare.com/v2/css?f[]=rowan@401,400,600,700&f[]=switzer@300,700,500,600,400&display=swap"
			rel="stylesheet"
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<ViewTransitions />
	</head>
	<body transition:animate={fade({ duration: "0.2s" })}>
		<Header />
		<section class="grid grid-cols-12 gap-8 mt-24">
			<div class="col-span-4 col-start-2 border-t-[1px] border-gray-300 pt-4">
				<h1 class="text-4xl font-semibold">{pageTitle}</h1>
			</div>
			<slot />
		</section>
	</body>
</html>
