---
import { ViewTransitions } from "astro:transitions";
import { fade } from "astro:transitions";

import Header from "../components/Header.astro";
import "../styles/global.css";

const { pageTitle } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://rsms.me/" />
		<link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap"
			rel="stylesheet"
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<ViewTransitions />
	</head>
	<body>
		<Header />
		<section class="grid grid-cols-4 mt-48 md:grid-cols-12 md:mt-12">
			<div class="col-span-4 md:col-span-6 md:col-start-4">
				<h1 transition:animate={fade({ duration: "0.15s" })}>
					{pageTitle}
				</h1>
				<slot />
			</div>
		</section>
	</body>
</html>
