---
import { ViewTransitions } from "astro:transitions";
import { fade } from "astro:transitions";

import Header from "../components/Header.astro";
import "../styles/global.css";

const { pageTitle } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link
			href="https://api.fontshare.com/v2/css?f[]=rowan@401,400,600,700&f[]=plein@300,700,500,400&display=swap"
			rel="stylesheet"
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<ViewTransitions />
	</head>
	<body transition:animate={fade({ duration: "0.2s" })}>
		<Header />
		<section class="max-w-prose mx-auto mt-24">
			<h1 class="text-4xl font-bold mb-12">{pageTitle}</h1>
			<slot />
		</section>
	</body>
</html>
