---
import { ViewTransitions } from "astro:transitions";
import { fade } from "astro:transitions";

import Header from "../components/Header.astro";
import "../styles/global.css";

const { pageTitle } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://rsms.me/" />
		<link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<ViewTransitions />
	</head>
	<body>
		<Header />
		<section
			class="grid grid-cols-4 mt-48 gap-4 md:grid-cols-12 md:gap-8 md:mt-24"
			transition:animate={fade({ duration: "0.2s" })}
		>
			<div class="col-span-4 mx-4 md:col-span-6 md:col-start-4 md:mx-0">
				<h1
					class="text-2xl font-medium font-headline mb-12"
					transition:animate={fade({ duration: "0.4s" })}
				>
					{pageTitle}
				</h1>
				<slot />
			</div>
		</section>
	</body>
</html>
